@import "~@flaticon/flaticon-uicons/css/all/all";
* {
  box-sizing: border-box;
}

:root {
  --theme-purple: #702963;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #848484;
  --body-background: #ffffff;
  --font-family: "Lato", sans-serif;
  --heading-font: "Poppins", sans-serif;
  --heading-font-handwriting: "Tangerine", cursive;
  --border-radius: 5px;
  --font-size: 18px;
}

body {
  font-family: "Lato", sans-serif !important;
  color: var(--black-color);
  background-color: var(--body-background);
}

ul li {
  list-style-type: none;
}

ul {
  padding-left: 0 !important;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: var(--black-color) !important;
  text-decoration: none !important;
}
p {
  margin-bottom: 0 !important;
}

.active-navlink-color {
  color: var(--theme-purple) !important;
}
